/* De generelle css regler */

@font-face {
  font-family: "cormorant";
  src: url("fonts/cormorant-light-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-family: cormorant;
  margin-bottom: 3vw;
  margin-top: 3vw;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
  font-family: cormorant;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

p {
  font-family: cormorant;
  font-size: 0.7rem;
  line-height: 1.6;
  margin-top: 3vw;
}

footer a,
footer p {
  margin-bottom: 2vw;
  font-family: cormorant;
  color: black;
  text-decoration: none;
  text-align: center;
}

/* Mobil versionen af Index */

#index #first_section {
  background-image: url(billeder/forside.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 49%, 10%;
}

#index #first_section {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  place-items: center;
}

#index button {
  border-style: none;
  border-radius: 8px;
  background-color: #f4e993;
  padding: 7px;

  animation-name: puls_kf;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

  grid-row: 6/9;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

#index button a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: cormorant;
}

/* Mobil versionen af WORK */

/* Fjerner navigationen på mobilversionen */
#work_body .nav_col_right a,
#work_body .nav_col_left a,
hr {
  display: none;
}
/* Tilføjer knap til forsiden */
.signatur {
  width: 10vw;
  position: fixed;
  margin-top: 1vw;
  margin-left: 3vw;
}
/* Mobil versionen af WORK - generelle ting */
#work_body section {
  margin-right: 15vw;
  margin-left: 15vw;
}

#overskrift_wrapper {
  display: grid;
  place-items: center;
}

.overskrift {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 70%;
  height: fit-content;
  margin-top: 5vw;
}

#work .section_wrapper {
  margin-top: 6vw;
}

#work #second_section {
  margin-top: 10vw;
}

#work p {
  margin-bottom: 35vw;
}

/* Mobil versionen af WORK - første sektion */

#work_body #first_section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

#work .col_up {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 100%;
  height: 8vw;
  display: flex;
  gap: 3vw;
  place-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
  grid-column: 1/7;
  grid-row: 2/3;
}

#work .col_down {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 100%;
  height: 8vw;
  display: flex;
  gap: 3vw;
  place-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
  grid-column: 1/7;
  grid-row: 3/4;
}

#work #first_section figure {
  width: 100%;
  height: auto;
  grid-column: 2/6;
  grid-row: 1/5;
}

/* Tekt */
#work #first_section a {
  color: black;
  text-decoration: underline;
  font-size: 0.6rem;
  font-family: cormorant;
}

/* Mobil versionen af WORK - andre sektions */

/* Ipad versionen */
@media (min-width: 500px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  #work #first_section a {
    font-size: 0.9rem;
  }
  #work .col_up,
  #work .col_down {
    padding: 2vw 2vw 0vw 2vw;
  }

  p {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }
}
/* Desktop versionen */

@media (min-width: 800px) {
  p {
    font-size: 1rem;
  }
  h4 {
    font-size: 2rem;
  }

  /* Index-siden */
  #index button a {
    font-size: 2rem;
  }

  /* WORK-siden */

  #work #first_section a {
    font-size: 1.4rem;
  }
  #work .col_up,
  #work .col_down {
    padding: 3vw 2vw 0vw 2vw;
  }

  #work .section_wrapper {
    display: flex;
    gap: 4vw;
  }

  /* Tilføjer navigationen på desktop-versionen */
  #work_body .nav_col_right a,
  #work_body .nav_col_left a,
  hr {
    display: revert;
  }

  /* Navigationen */

  .signatur {
    width: 8vw;
  }

  #work_body .nav_col_right {
    transform: rotate(90deg);
    position: fixed;
    right: 0;
    margin-top: 10vw;
    margin-right: 4vw;

    font-family: cormorant;
  }

  #work_body .nav_col_left {
    transform: rotate(-90deg);
    position: fixed;
    margin-top: 42vw;
    margin-left: 4vw;

    font-family: cormorant;
  }

  #work_body .nav_col_right a,
  #work_body .nav_col_left a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

  hr {
    margin-top: 10px;
  }
}
