/* ----------------------------------Mobilversion de generelle----------------------------- */

@font-face {
  font-family: "cormorant";
  src: url("fonts/cormorant-light-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-family: cormorant;
  margin-bottom: 3vw;
  margin-top: 3vw;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
  font-family: cormorant;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

p {
  font-family: cormorant;
  font-size: 0.7rem;
  line-height: 1.6;
}

footer img {
  max-width: 20px;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}

footer figure {
  display: flex;
  gap: 4vw;
}

#work #first_section figure,
#about #first_section figure {
  width: 100%;
  height: auto;
  grid-column: 2/6;
  grid-row: 1/5;
}

#work_body section,
#about_body section {
  margin-right: 15vw;
  margin-left: 15vw;
}

/* Tilføjer knap der går til forsiden */
.signatur {
  width: 10vw;
  position: fixed;
  margin-left: 3vw;
}

/* Fjerner navigationen på mobilversionen */
#work_body .nav_col_right a,
#work_body .nav_col_left a,
#about_body .nav_col_right a,
#about_body .nav_col_left a,
hr {
  display: none;
}

/* burgermenuen */

header {
  position: sticky;
  top: 0;
}

header nav {
  text-align: right;
  background-color: white;
}

header a {
  display: inline-block;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin: 0.3rem;
  font-family: cormorant;
  text-decoration: none;
  color: black;
}

nav #menu {
  gap: 1rem;
  margin: 0;
  padding: 0.5rem;
  transform: none;
  list-style: none;

  border-top: 1px solid var(--color7);

  margin-top: 0.5rem;
  flex-basis: 100%;
}

#menuknap {
  font-family: cormorant;
  border: none;

  font-size: 1rem;
  cursor: pointer;
  margin-right: 3vw;
  margin-top: 3vw;
  background: white;
}

#menuknap:hover {
  color: #fceb7d;
}

#menu li a:hover {
  color: #fceb7d;
}

#menu li {
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* ----------------------------------Mobilversion index-siden----------------------------- */

#index button a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: cormorant;
}

#index #first_section {
  background-image: url(billeder/forside.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 49%, 10%;
}

#index #first_section {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  place-items: center;
}
/* ------------Knappen på forsiden + animation til den----------- */
#index button {
  border-style: none;
  border-radius: 8px;
  background-color: #f4e993;
  padding: 7px;

  animation-name: puls_kf;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

  grid-row: 6/9;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* ----------------------------------Mobilversion work-siden----------------------------- */

#overskrift_wrapper {
  display: grid;
  place-items: center;
}

.overskrift {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 70%;
  height: fit-content;
  margin-top: 5vw;
}

#work .section_wrapper {
  margin-top: 6vw;
}

#work #second_section {
  margin-top: 10vw;
}

#work .section_wrapper {
  margin-bottom: 35vw;
}

#work p {
  margin-top: 3vw;
}

/* Mobil versionen af WORK - første sektion */

#work_body #first_section,
#about_body #first_section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

#work .col_up {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 100%;
  height: 8vw;
  display: flex;
  gap: 3vw;
  place-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
  grid-column: 1/7;
  grid-row: 2/3;
}

#work .col_down {
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  width: 100%;
  height: 8vw;
  display: flex;
  gap: 3vw;
  place-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
  grid-column: 1/7;
  grid-row: 3/4;
}

/* Tekt */
#work #first_section a {
  color: black;
  text-decoration: underline;
  font-size: 0.6rem;
  font-family: cormorant;
}

/* ----------------------------------Mobil-version about-siden----------------------------- */

/* Tekt */
#name_p {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
}
#about address {
  font-family: cormorant;
  font-size: 0.7rem;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

/* Prikkerne til kvalifikationer */

.circle {
  height: 10px;
  width: 10px;
  background-image: linear-gradient(to right, #fceb7d, #f1fbff);
  border-radius: 50%;
}

/* Kvalifikationsafsnit  */

#about #kolonner div {
  display: flex;
  gap: 2vw;
  margin-bottom: 3vw;
}
#about #kolonner figure {
  margin-top: 1vw;
}

#about #third_section #overskrift_wrapper {
  margin-top: 8vw;
  margin-bottom: 8vw;
}

#about #third_section .col_right {
  margin-bottom: 10vw;
}

#about #kolonner {
  display: grid;
  place-content: center;
}

/* ----------------------------------Ipad-version----------------------------- */
@media (min-width: 500px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  footer img {
    max-width: 40px;
    height: auto;
  }

  p {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  #work #first_section a,
  #about #first_section a {
    font-size: 0.9rem;
  }
  #work .col_up,
  #work .col_down {
    padding: 2vw 2vw 0vw 2vw;
  }
}
/* ----------------------------------Desktop-version----------------------------- */

@media (min-width: 800px) {
  p {
    font-size: 1rem;
  }
  h4 {
    font-size: 2rem;
  }

  /* Fjerner burgermenuen på desktop-versionen */
  header {
    display: none;
  }

  /* Tilføjer navigationen på desktop-versionen */
  #work_body .nav_col_right a,
  #work_body .nav_col_left a,
  #about_body .nav_col_right a,
  #about_body .nav_col_left a,
  hr {
    display: revert;
  }
  /* Navigationen */

  .signatur {
    width: 8vw;
  }

  #work_body .nav_col_right,
  #about_body .nav_col_right {
    transform: rotate(90deg);
    position: fixed;
    right: 0;
    margin-top: 10vw;
    margin-right: 4vw;

    font-family: cormorant;
  }

  #work_body .nav_col_left,
  #about_body .nav_col_left {
    transform: rotate(-90deg);
    position: fixed;
    margin-top: 42vw;
    margin-left: 4vw;

    font-family: cormorant;
  }

  #work_body .nav_col_right a,
  #work_body .nav_col_left a,
  #about_body .nav_col_right a,
  #about_body .nav_col_left a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

  hr {
    margin-top: 10px;
  }

  /* Index-siden */
  #index button a {
    font-size: 2rem;
  }

  /* WORK-siden */

  #work #first_section a {
    font-size: 1.4rem;
  }
  #work .col_up,
  #work .col_down {
    padding: 3vw 2vw 0vw 2vw;
  }

  #work .section_wrapper {
    display: flex;
    gap: 4vw;
  }

  #work p {
    margin-top: 0vw;
  }

  /* About-siden  */
  /* Kvalifikationsafsnit  */

  #about #kolonner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6vw;
    gap: 7vw;
  }
  #about #kolonner figure {
    margin-top: 0.8vw;
  }
}

/* ----------------------------------animationer----------------------------- */

#moon {
  z-index: -1;
}

.rotate {
  animation-name: rotate_kf;
  animation-duration: 60s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotate_kf {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
